/* add CSS class and element and selectors here */
body {
      background-color: lightgray;
      font-size: 150%;
      font-family: Arial, Helvetica, sans-serif;
       }
.myClass {
      background-color: hotpink;
      color: blue
    }
.anExampleClass {
      font-size: 300%;
      background-color: lightgreen;
      font-family: courier;
      border: 1px dotted red;
      text-transform: uppercase;
      letter-spacing: 5px;
      transition: rotate(-30)deg;
    }
h1{
  font-family: 'Kirang Haerang', cursive;
}